ft_models
Datasets.rar
DenseNet_model.keras
Sequence Diagram.drawio
Sequence Diagram.drawio.png
Weed Detection Document.docx
Weed Detection Presentation.pptx
Weed Detection Test Run.mp4
yolo11n.pt
yolov8m.pt
Weed_Detection_DenseNet.ipynb
Weed_Detection_WeedCrop.ipynb